<%= form_for(@author) do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :surname%><br>
  <%= f.text_field :surname %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
